@media(max-width: 1150px) {
    .store_page .products_info details {
        min-width: 240px;
    }

    .store_page .products_info .products_list .product_card, .store_page .products_info .products_list .product_card .product_img {
        width: 100%;
    }
}


@media(max-width: 900px) {
    .store_page .products_info {
        flex-direction: column;
    }

    .store_page .products_info .products_list .product_card:nth-last-child(2), .store_page .products_info .products_list .product_card:last-child {
        display: flex;
    }

    .store_page .products_info .products_list .product_card, .store_page .products_info .products_list .product_card .product_img {
        width: 100%;
    }

    .store_page .products_info .products_list {
        gap: 20px;
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    }

    .store_page .products_info details {
        width: 100%;
        min-width: auto;
    }
}

@media(max-width: 630px) {
    .store_page .products_info .products_list .product_card, .store_page .products_info .products_list .product_card .product_img {
        width: 100%;
    }

    .store_page .products_info .products_list {
        gap: 16px;
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }
}

@media(max-width: 500px) {
    .store_page .products_info .products_list .product_card, .store_page .products_info .products_list .product_card .product_img {
        width: 100%;
    }

    .store_page .products_info .products_list {
        grid-template-columns: 1fr;
    }
}
