.store_page .products_info {
    display: flex;
    gap: 32px;
}

.store_page .products_info .products_list {
    gap: 24px;
    width: 100%;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
}

.store_page .products_info .products_list .product_card, .store_page .products_info .products_list .product_card .product_img {
    width: 100%;
}

.store_page .products_info details {
    border-radius: 16px;
    box-shadow: 0 16px 32px rgba(0, 0, 0, 0.08);
    border: 1px solid #e7efee;
    background: #ffffff;
    padding: 18px 20px;
    min-width: 300px;

    height: 20px;
    overflow: hidden;

    transition: height 0.5s ease-in-out;
}

.store_page .products_info details.open_details {
    height: fit-content;
    max-height: 525px;
}

.store_page .products_info details.open_details summary img {
    rotate: 0deg;
}

.store_page .products_info details summary {
	cursor: pointer;
	list-style: none;
	display: flex;
	align-items: center;
	width: 100%;
}

.store_page .products_info details summary span {
    font-size: 18px;
    font-weight: bold;
    font-family: Gilroy-Bold;
    margin-right: auto;
}

.store_page .products_info details summary img {
    rotate: 180deg;
    transition: rotate 0.5s;
}

.store_page .products_info details hr {
    margin-top: 15px;
    border: none;
    height: 2px;
    background-color: #e0efec;
    margin-bottom: 20px;
}

.store_page .products_info details .category, .store_page .products_info details .order_by, .store_page .products_info details .price_range, .store_page .products_info details .brands {
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    position: relative;
}

.store_page .products_info details .brands {
    margin-bottom: 0;
}

.store_page .products_info details select {
    appearance: none;

    height: 40px;
    padding: 0 12px;

    border: 1px solid #d6e4e2;
    border-radius: 10px;
    cursor: pointer;

    font-size: 15px;
    background: url(https://upload.wikimedia.org/wikipedia/commons/9/9d/Caret_down_font_awesome_whitevariation.svg) no-repeat right 0.6em center / 1.2em, linear-gradient(to left, #42b8a0 2.6em, #ffffff 2.6em);
}

.store_page .products_info details .price_range .prices {
    display: flex;
    flex-direction: row;
}

.store_page .products_info details .price_range .prices p {
    padding: 2px 6px;
    border-radius: 8px;
    font-size: 14px;
    border: 1px solid #42b8a0;
    color: #42b8a0;
    font-weight: bold;
    font-family: 'Gilroy-Medium';
    margin: 0;
}

.store_page .products_info details .price_range .price_range_slider hr {
    margin: 0;
    margin-top: 10px;
}

.store_page .products_info details .price_range .price_range_slider input {
    appearance: none;
    width: 100%;
    position: absolute;
    margin: auto;
    bottom: 0px;
    background-color: transparent;
    pointer-events: none;
}

.store_page .products_info details .price_range .price_range_slider input::-webkit-slider-runnable-track{
    -webkit-appearance: none;
    height: 5px;
}

.store_page .products_info details .price_range .price_range_slider input::-moz-range-track{
    -moz-appearance: none;
    height: 5px;
}

.store_page .products_info details .price_range .price_range_slider input::-ms-track{
    appearance: none;
    height: 5px;
}

.store_page .products_info details .price_range .price_range_slider input::-webkit-slider-thumb{
    -webkit-appearance: none;
    height: 20px;
    width: 20px;
    background-color: white;
    border: 4px solid #42b8a0;
    cursor: pointer;
    margin-top: -7.5px;
    pointer-events: auto;
    border-radius: 50%;
}

.store_page .products_info details .price_range .price_range_slider input::-moz-range-thumb{
    -webkit-appearance: none;
    height: 20px;
    width: 20px;
    cursor: pointer;
    border-radius: 50%;
    background-color: white;
    border: 4px solid #42b8a0;
    pointer-events: auto;
}

.store_page .products_info details .price_range .price_range_slider input::-ms-thumb{
    appearance: none;
    height: 20px;
    width: 20px;
    cursor: pointer;
    border: 4px solid #42b8a0;
    border-radius: 50%;
    background-color: white;
    pointer-events: auto;
}

.store_page .products_info details .price_range .price_range_slider input:active::-webkit-slider-thumb{
    background-color: white;
    border: 3px solid #42b8a0;
}

.store_page .products_info details .brands .brands_checkbox {
    display: flex;
    flex-direction: column;
    overflow: auto;
    max-height: 160px;
}

.store_page .products_info details .brands .brands_checkbox label {
    cursor: pointer;
    margin: 4px 0;
}

.store_page .products_info details .brands .brands_checkbox input {
    display: none;
}

.store_page .products_info details .brands .brands_checkbox span {
    display: flex;
}

/* Optionally, you can style the scrollbar further */
.store_page .products_info details .brands .brands_checkbox::-webkit-scrollbar {
  width: 8px; /* Adjust the width of the scrollbar (for WebKit browsers) */
}

.store_page .products_info details .brands .brands_checkbox::-webkit-scrollbar-thumb {
  border-radius: 20px;
  background-color: darkgray; /* Customize the thumb color (for WebKit browsers) */
}

.store_page .products_info details .brands .brands_checkbox::-webkit-scrollbar-thumb:hover {
  background-color: gray; /* Customize the thumb color on hover (for WebKit browsers) */
}


.store_page .products_info details .brands .brands_checkbox label > span::before {
    content: '';
    width: 16px;
    height: 16px;
    border: 1px solid #42b8a0;
    border-radius: 4px;
    margin-right: 5px;
}

.store_page .products_info details .brands .brands_checkbox label > input:checked+span::before {
    background-color: #42b8a0;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e");
}

.store_page .products_info #pagination a {
    font-size: 20px;
}

.store_page .products_info #pagination .active a {
    background: #42b8a0;
    color: white;
}
