<div class="block">
    <div class="container partners_info">
        <h1 class="header">Нам доверяют</h1>

        <div class="partners_list">
            <div class="partner_card">
                <img src="https://upload.wikimedia.org/wikipedia/commons/9/9d/Arbuz_logo.svg" alt="Arbuz">
            </div>
            <div class="partner_card">
                <img src="https://upload.wikimedia.org/wikipedia/commons/2/2c/KFC_logo.svg" alt="KFC">
            </div>
            <div class="partner_card">
                <img src="https://upload.wikimedia.org/wikipedia/commons/0/08/Coca-Cola_logo.svg" alt="Coca-Cola">
            </div>
            <div class="partner_card">
                <img src="https://upload.wikimedia.org/wikipedia/commons/a/a9/Amazon_logo.svg" alt="Amazon">
            </div>

            <div class="partner_card">
                <img src="https://upload.wikimedia.org/wikipedia/commons/a/ab/Logo_TV_2015.png" alt="TV">
            </div>
            <div class="partner_card">
                <img src="https://upload.wikimedia.org/wikipedia/commons/4/44/Microsoft_logo.svg" alt="Microsoft">
            </div>
            <div class="partner_card">
                <img src="https://upload.wikimedia.org/wikipedia/commons/5/51/IBM_logo.svg" alt="IBM">
            </div>
            <div class="partner_card">
                <img src="https://upload.wikimedia.org/wikipedia/commons/f/fa/Apple_logo_black.svg" alt="Apple">
            </div>
        </div>
    </div>
</div>
