{% extends 'base_body.html' %}
{% load humanize %}

{% block body %}

<span style="display: none" id="page_title">{{ product.name }}</span>
<button style="display: none" onclick="product_page_loaded()" id="page_loaded_js_function"></button>


<div class="block">
    <div class="container product_info">
        <div class="product_header">
            <div>
                <p class="product_meta">Категория: {{ product.category }}</p>
                <h1>{{ product.name }}</h1>
            </div>
            <div class="product_price">
                <span>{{ product.price|intcomma }} тг</span>
                <button onclick="open_buy_form({{ product.id }}, '{{ product.name }}', '{{ product.poster }}', '{{ product.price }}', '{{ product.code }}')">Купить</button>
            </div>
        </div>

        <div class="more_info">
            <div class="product_image" style="background-image: url({{ product.poster }})"></div>

            <div class="text">
                <div class="product_tabs">
                    <button class="tab_button active" data-tab="details">Описание</button>
                    <button class="tab_button" data-tab="specs">Характеристики</button>
                </div>

                <div class="tab_panel active" data-tab-panel="details">
                    <p><b>Код товара:</b> {{ product.code }}</p>
                    <p><b>Бренд:</b> {{ product.brand }}</p>
                    <div class="description">
                        {% autoescape off %}
                        {{ product.description }}
                        {% endautoescape %}
                    </div>
                </div>

                <div class="tab_panel" data-tab-panel="specs">
                    <div class="specs_grid">
                        <div>
                            <span>Категория</span>
                            <strong>{{ product.category }}</strong>
                        </div>
                        <div>
                            <span>Бренд</span>
                            <strong>{{ product.brand }}</strong>
                        </div>
                        <div>
                            <span>Код товара</span>
                            <strong>{{ product.code }}</strong>
                        </div>
                        <div>
                            <span>Стоимость</span>
                            <strong>{{ product.price|intcomma }} тг</strong>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="product_page">
{% include 'request_form.html' %}
    </div>
{% endblock %}
