{% extends 'base_body.html' %}
{% load humanize %}

{% block body %}

<span style="display: none" id="page_title">{{ product.name }}</span>
<button style="display: none" onclick="product_page_loaded()" id="page_loaded_js_function"></button>


<div class="block section-block">
    <div class="container product_info">
        <div class="product_heading">
            <div>
                <p class="product__eyebrow">Товар из каталога</p>
                <h1>{{ product.name }}</h1>
            </div>
            <div class="product_price">
                <span>Стоимость</span>
                <strong>{{ product.price|intcomma }} тг</strong>
            </div>
        </div>

        <div class="more_info product_card">
            <div class="product_image" style="background-image: url({{ product.poster }})"></div>

            <div class="text">
                <h2>О товаре</h2>
                <div class="product_meta">
                    <div>
                        <span>Категория</span>
                        <strong>{{ product.category }}</strong>
                    </div>
                    <div>
                        <span>Код товара</span>
                        <strong>{{ product.code }}</strong>
                    </div>
                    <div>
                        <span>Бренд</span>
                        <strong>{{ product.brand }}</strong>
                    </div>
                </div>
                <p class="characteristics_title"><b>Характеристики:</b></p>

                <div class="description" style="margin-top: 5px;">
                    {% autoescape off %}
                    {{ product.description }}
                    {% endautoescape %}
                </div>

                <div class="buy">
                    <button class="primary_btn" onclick="open_buy_form({{ product.id }}, '{{ product.name }}', '{{ product.poster }}', '{{ product.price }}', '{{ product.code }}')">Купить</button>
                    <div class="price_tag">
                        <span>Цена</span>
                        <strong>{{ product.price|intcomma }} тг</strong>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="product_page">
{% include 'request_form.html' %}
    </div>
{% endblock %}
